.header{
    background-color: black;
    #navegacion_uno{
        display: flex;
        justify-content: space-evenly;
        width: 70%;
        .logo img{
            width: 70px;
            height: 70px;
            margin-right: 20px;
        }
        .busqueda{
            width: 60%;
            height: 45px;
            .btn_search{
                
                background-color: #FFCD11;
            }
        }
        .link_nav1{
            margin: auto;
            display: flex;
            justify-content: center;
            padding: 5px;
            &:hover{
                background-color: rgb(69, 66, 66);
                svg{
                    color: #FFCD11;
                }
                a{
                    color: #FFCD11;
                }
            }
            svg{
                margin: auto;
                color: white;
            }
            a{
                color: white;
            }
        }
        .link_nav2{
            margin: auto;
            width: 40%;
            display: flex;
            justify-content: center;
            padding: 5px;
            &:hover{
                background-color: rgb(69, 66, 66);
                svg{
                    color: #FFCD11;
                }
                a{
                    color: #FFCD11;
                }
            }
            svg{
                margin: auto;
                color: white;
            }
            a{
                color: white;
            }
        }
        .link_nav3{
            margin: auto;
            padding: 5px;
            &:hover{
                background-color: rgb(69, 66, 66);
                svg{
                    color: #FFCD11;
                }
            }
            svg{
                color: white;
            }
            
    }
}

    #navegacion_dos{
        display: flex;
        width: 70%;
        margin: 0 auto;
        border-top: 1px solid white;
        .menu_2{
           margin: 0;
            &:hover{
                background-color: rgb(69, 66, 66);
                a{
                    color:#FFCD11;
                }
            }
            ul{
                background-color: black;
            }
            a{
                color: white;
                padding: 15px 10px;
                margin-right: 5px;
            }
        }
    }
} 

.contenedor {
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    text-align: left;
    padding-left: 15%;
    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../img/maquinasCat.jpg') no-repeat center/cover;
    }
    .background::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 60%;
        height: 100%;
        background: linear-gradient(to right, rgba(0, 0, 0, 2), rgba(0, 0, 0, 0));
    }
    .content {
        position: relative;
        z-index: 1;
        max-width: 40%;
       h1{
        font-weight:bolder;
       }
    }
    .separator {
        width: 5%;
        height: 4px;
        background-color:#FFCD11;
        margin: 10px 0;
    }
}



.contenedor_informacion{
    display: flex;
    padding: 50px;
    justify-content: center;
    
    .card{
        width: 25%;
        margin-left: 5px;
        border: none;
        .card-header{
            background: none;
            border: none;
            h4{
                font-weight: bolder;
            }
        }
        .card-link1{
            width: 92%;
            margin: 0 auto;
            border-top: solid 1px black;
            padding-bottom: 30px;
            padding-left: 0;
                a{
                    font-size: smaller;
                    text-decoration: none;
                    font-weight: bolder;
                    margin-left: 0;
                    .flecha-card{
                        transition: margin-left 0.2s ease-in-out;
                        
                    }
                    &:hover{
                        .flecha-card{
                            margin-left: 5px;
                        }
                    }
                }       
        }
    }
    .separator2{
        width: 11%;
        background-color:#FFCD11;
        margin: 10px 0;
        height: 4px;
    }
}


.contenedor_informacion2{
    background-color: #7c7c7c11;
    display: flex;
    padding: 50px;
    justify-content: center;
    .card{
        width: 25%;
        margin-left: 25px;
        border: none;
        background: none;
        border-radius: 0;
        .card-body{
            h5{
                border-top: solid 1px black;
                padding-top: 15px;
                font-weight: bold;
            }
            p{
                height: 40%;
                font-size:medium;
            }
            a{
                font-size: small;
                text-decoration: none;
                font-weight: bold;
                .flecha-card{
                    transition: margin-left 0.2s ease-in-out;
                    
                }
                &:hover{
                    .flecha-card{
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}

